# PyTorch + CUDA 11.3
#建议手动在终端下载以下三个：pip install torch==1.11.0+cu113 torchvision==0.12.0+cu113 torchaudio==0.11.0 --index-url https://download.pytorch.org/whl/cu113
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
#完整评估需下载的依赖
#完整评估需下载的依赖(需安装适配torch==1.11.0的版本）
#也建议手动：pip install "torchmetrics>=0.8.0,<0.10.0" -i https://mirrors.aliyun.com/pypi/simple/
torchmetrics==0.9.3
lpips==0.1.4

# 基础数值计算
numpy==1.24.3
scipy==1.10.1
mkl==2023.1.0
mkl-service==2.4.0
mkl-fft==1.3.6
mkl-random==1.2.2
# 图像处理
pillow==9.0.1
opencv-python==4.5.5.64
imageio==2.19.2
imageio-ffmpeg==0.4.7
# 工具类
requests==2.27.1
pyopenssl==22.0.0
pysocks==1.7.1
cryptography==37.0.1
cffi==1.15.0
# 可视化/日志
matplotlib==3.5.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1

# 其他核心依赖
absl-py==1.0.0
cachetools==5.1.0
cycler==0.11.0
fonttools==4.33.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.1
kiwisolver==1.4.2
markdown==3.3.7
oauthlib==3.2.0
packaging==21.3
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
requests-oauthlib==1.3.1
rsa==4.8
tqdm==4.64.0
werkzeug==2.1.2
zipp==3.8.0
importlib-metadata==4.11.3
six==1.16.0
typing-extensions==4.1.1